.body {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top:0; 
    left:0;
    background-image: url("/assets/img/backgroundInit.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}