.nav-bar{
  -webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.demo-tab-group {
  border: 1px solid #d10d0d;
}

.hide {
  display: none;
}

.demo-tab-content {
  padding: 16px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.centro {
  text-align: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.body {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(238, 238, 238);
}

.icon {
  font-size: 44px;
}

.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.example-select {
  margin: 0 10px;
}

.tab-height {
  height: 90vh;
  /*background-image: url("/assets/img/Fondo1.png");
  background-size: 100% 100%;
  background-attachment: fixed;*/
}
